@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');


:root {
    --cor-preta: #000;
    --cor-branca: #FFF;
    --cor-cinza: #ddd;
    --fonte-alternativa: 'Poppins';
    --azul-degrade: linear-gradient(9000deg, #002F52 35.49%, #326589 165.37%);
}


body {
    font-family: var(--fonte-alternativa);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pai__container {
    display: flex;
    justify-content: center;
}

.container {
    margin-top: 15%;
    width: 80%;
    height: 50vh;
    background: var(--azul-degrade);
    border-radius: 24px;
    display: flex;
    justify-content: center;
}



.container__conteudo {
    
}

.titulo {
    color: var(--cor-cinza);
    font-family: var(--fonte-principal);
    padding: 2em 0em 0em 0em;
    font-size: 54px;
}

.container__texto {
    color: var(--cor-cinza);
    font-family: var(--fonte-principal);
}

